.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.header-link {
    width: 450px;
    height: 50px;
}

.nav {
    display: flex;
    list-style-type: none;
}

.nav-item {
    margin: 0 30px;
}

.nav-link {
    text-decoration: none;
}

.nav-link.active {
    color: gold;
}